*, ::before, ::after{
    box-sizing: border-box;
}

body{
    background-color: rgb(182, 188, 218);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.chat{
    background-color: rgb(78, 81, 101);
    height: 400px;
    width: 300px;
    position: relative;
    border-radius: 10px;
}

.messages{
    height: 350px;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.messages__mess{
    margin: 3px 0;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(56, 63, 104);
}

.messages__mess--he{
    align-self: flex-start;
    background-color: rgb(60, 64, 86);
}

.form-mess{
    background-color: rgb(60, 64, 86);
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    border-radius: 10px;
}

.form-mess__input{
    width: 100%;
    background-color: rgb(164, 164, 245);
    border: 1px solid rgb(80, 80, 169);
    border-radius: 10px;
    height: 30px;
}

.form-mess__button{
    background-color: rgb(164, 164, 245);
    border: 1px solid rgb(129, 129, 192);
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin-left: 5px;
}